.data-vis h1 {
    padding-top: 2em;
}

.data-vis {
    background-color: #000;
}

.visualization {
    margin: 2em auto;
    border-radius: 2em;
    padding: 1em;
    background-color: #9cd;
    width: 80%;
    max-height: 50%;
}

.data-vis .card {
    margin-bottom: 5em;
}