
.hero {
  position: relative;
  background: linear-gradient(90deg, #000d 0%, #0006 100%), url('../../assets/leaves-texture-bw.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 12pt;

  align-content: center;

}

h2, p, ul {
  letter-spacing: .2em;
  text-shadow: .1em .1em .05em #000;
  font-weight: 100;
}

.hero-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.hero-headers h1 {
  margin-bottom: 1%;
}

.hero ul {
  padding-top: 1em;
  position: absolute;
  left: 0;
  bottom: 7%;
  letter-spacing: .1ch;
  text-align: left;
  width: 60%;

  background-color: #333;

  /* Apply a gradient as a mask */
  -webkit-mask-image: linear-gradient(to left, #0000 0%, #ffff 20%);
  mask-image: linear-gradient(to left, #0000 0%, #ffff 20%);
  
  /* Optional: smooth it out */
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

li {
  margin: 0 0 .5rem 0;
  width: 80%;
}